*
{position: relative;
width: max-content;
height:max-content;
padding: 0;
margin: 0;

background: #FFFFFF;
}

html{
    overflow-x:hidden;
    
    }

/*menu lateral*/

.side-bar-shadow{
 position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: -47.44%;
background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
height: 2410px;
width: 220px;
border-radius: 0px;
}

/*header-parte de cima*/
header{
position:relative;
width: 100%;
height: 68px;
left: 0px;
top: 0px;
background : #FDF1EB;
}

.txt-header{
margin-left: 220px;
background-color: #FDF1EB;
width:70em;
height: 68px;

}

.idioma{
  background-image: url(/img/botão\ -\ idiomas.png);
    position: absolute;
    width: 97px;
    height: 34px;
    left: 789px;
    top: 17px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    text-align:center;
    cursor: pointer;
}
.txt-header h2{
font-size: 14px;
width: 391px;
height: 16px;
left: 36px;
top: 5px;
font-family:"Roboto";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
background-color: #FDF1EB;
color: #725C5C;
}
.txt-header h1{
font-size: 22px;
color:#725C5C;
background-color:#FDF1EB;
width: 643px;
height: 26px;
left: 36px;
line-height: 26px;
}

.txt-header h3{
    position: absolute;
width: 105px;
height: 16px;
left: 36px;
top: 48px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
background-color:#FDF1EB ;
color: #725C5C;

}

.bem-vindo{
position: absolute;
width: 72px;
height: 18px;
left: 999px;
top: 17px;
background-color: transparent;
font-family:Quicksand;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: right;
color: #333333;
}

.email{
 position: absolute;
width: 163px;
height: 15px;
left: 908px;
top: 36px;
font-family: Quicksand;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
text-align: right;
color: #333333;
background-color: transparent;
}

.img-user{
position: absolute;
left: 93.28%;
right: 2.53%;
top: 27.94%;
bottom: 27.94%;
height: 30px;
width: 30px;
left: 1069.0000610351562px;
top: 19px;
border-radius: 0px;
background-color: transparent;
}

.circulo{
position: absolute;
left: 81%;
right: 0%;
top: 20%;
bottom: 0%;
height: 12px;
width: 12px;
left: 1069.0000610351562px;
border-radius: 10px;   
background: #F85959;
border-radius: 10px;
}

.rectangle{ 
position: absolute;
right: 0%;
bottom: 0%;
height: 68px;
width: 220px;
left: 0px;
top: 0px;
border-radius: 0px;
background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}

.txt-rtg{
background:none;
position: absolute;
top: 25%;
bottom: 0%;
left: 9.09%;
right: 10%;
color: #FFFFFF;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
display: flex;
text-align: center;
width: 220px;
}
.top-nome-evento img{
position: static;
width: 220px;
height: 258px;
left: 0px;
margin-top: 68px;
}
.top-nome-evento {
    width: 220px;
}

nav{
background-color: rgba(255, 255, 255, 1);
position: relative;
display: block;
width: 220px;
height: 50px;
    
    
}
nav a {
text-decoration: none;
background-color: rgba(255, 255, 255, 1);
position:static;
display:inline-block;
width: 220px;
height: 35px;
color:rgba(114, 92, 92, 1);
text-align:center;
font-size: 15px;
font-family:"Quicksand";
border-bottom: 1px solid rgba(236, 236, 236, 1);
cursor: pointer;
        
}
nav a label{
    margin-left: 5px;
}
nav a:hover {
    transition:0s;
    background-color:  rgba(253, 241, 235, 1);
    border-left: 3px solid
    rgba(237, 120, 57, 1);
}
/* todo conteudo */
.conteudo{
    position:absolute;
    width: 1059px;
    height: 1382px;
    left: 263px;
    top: 88px;
}

.titulo{
position: absolute;
height: 54px;
left: 0px;
right: 273px;
top: 0px;
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 25px;
letter-spacing: 0.05em;
color: #ED7839;
height: 54px;
width: 786px;
left: 0px;
top: 0px;
border-radius: nullpx;
}

.dowload{
 height: 31px;
width: 120px;
left: 842px;
top: 0px;
position: absolute;
left: 79.51%;
right: 9.16%;
bottom: 97.76%;
color: #FDF1EB;
background: #ED7839;
border-radius: 4px;
border:none;
cursor: pointer;
background-image:url(/img/download\ button.png);
}

.favorito{
 height: 31px;
width: 43px;
left: 967px;
top: 0px;
border-radius: 4px;
color: #FDF1EB;
background: #ED7839;
border-radius: 4px;
border:none;
cursor: pointer;

background-image: url(/img/favorite\ button.png);
}

.doi{
height: 31px;
width: 43px;
left: 967px;
top: 0px;
border-radius: 4px;
color: #FDF1EB;
background: #ED7839;
border-radius: 4px;
border:none;
cursor: pointer;

background-image: url(/img/doi\ button.png);
}

.video{
    position: absolute;
    width: 783px;
    height: 439px;
    left: 2px;
    top: 73px;
    background: rgba(141, 53, 6, 0.5);
    border-radius: 3px;
}

.como-citar{
position: absolute;
width: 242px;
height: 25px;
right: 0px;
top: 43px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 25px;
text-align: right;
letter-spacing: 0.05em;
color: #ED7839;
}
/*painel lateral direito*/
.painel{
position: absolute;
width: 242px;
height: 439px;
left: 816px;
top: 73px;
border: 1px solid rgba(236, 236, 236, 1);
}


.titulo-painel{
position: absolute;
width: 242px;
height: 45px;
background: #FDF1EB;
border: 1px solid #ECECEC;
box-sizing: border-box;
border-radius: 3px 3px 0px 0px;
font-family:roboto;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
display: flex;
align-items: center;
color: #4E4E4E;

}

.txt-painel{
position: absolute;
width: 242px;   
left: 2%;
top: 12%;   
font-family: Quicksand;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 120%;
letter-spacing: 0.02em;   
color: #5C5C5C;   

}

.txt-resumo{
position: relative;
width: 1058px;
height: max-content;
left: 1px;
top: 542px;
border: 1px solid #ECECEC;
box-sizing: content-box;
border-radius: 3px;
box-sizing: content-box;



}

.titulo-resumo{
position: relative;
width: 1058px;
height: 45px;
background: #FDF1EB;
border: 1px solid #ECECEC;
box-sizing: border-box;
border-radius: 3px 3px 0px 0px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
display: flex;
align-items: center;
color: #4E4E4E;

}

.txt-resumo-um{
 position:relative;
width: 1028px;
height: max-content;
left: 0px;
top: 0px;
font-family: Quicksand;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 23px;
letter-spacing: 0.02em;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
color: #5C5C5C;


}

#btnleiamais{
    position: relative;
    width: 60px;
    height: 24px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #ED7839;
    border:none ;
    cursor: pointer;
   
}


#mais{
    
    position:relative;
    width: 1028px;
    height: 180px;
    left: 0px;
    top: 0px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
    color: #5C5C5C;
    
}
/* discussoes-comentarios*/
.discussoes{
    position:relative;
    width: 1058px;
    height: 500px;
    top: 580px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
}

.titulo-discussoes{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;    
display: flex;
align-items: center; 
color: #4E4E4E;
position:absolute;
width: 1058px;
height: 45px;
background: #FDF1EB;
border: 1px solid #ECECEC;
box-sizing: border-box;
border-radius: 3px 3px 0px 0px;
}

.ideias-e-duvidas{
position: absolute;
left: 30.64%;
right: 29.51%;
top: 10%;
bottom: 30.75%;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
color: #ED7839;
height: 22px;
width: 422px;




}

.icone1{
position: relative;
width: 50.26px;
height: 48.94px;
left: 402.5px;
top: 100px;
}

.icone2{
position: absolute;
width: 50.26px;
height: 48.94px;
left: 504.5px;
top: 100px;
}

.icone3{
position: absolute;
width: 50.26px;
height: 48.94px;
left: 608.5px;
top: 100px;
}

.txt-estimulo{
position: absolute;

height: 39px;
width: 626px;
left: 216.5px;
top: 1325px;
border-radius: nullpx;
top: 30%;
bottom: 22.19%;
font-family: Quicksand;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align:center ;
color: #595959;
}

.divisoria{
background-color:#E7E7E7 ;
height: 1px;
width: 1034px;
left: 10px;
top: 220px;
border: 1px solid #E7E7E7;
}

#btn-criar{
position: absolute;
left: 43.72%;
right: 43.72%;
top: 42%;
bottom: 19.57%;
height: 32px;
width: 133px;
left: 463px;
border-radius: 4px;
background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
border: none;
color:white;
cursor: pointer;
display:inline;
}
/*formularios*/
#form-topico form input{
    display: block;
    margin-top: 10px;
  }
  
  #form-topico{
    display: inline;
    max-width:1040px;
   
  }
  
   #seuformulario{
     display:none;
     Width:800px;
     height:10%;
     top: 130px;
     left: 1%;
  }

  .tem-alguma-duvida{
height: 18px;
width: 965.3748168945312px;
left: 28.832763671875px;
top: 0px;
border-radius: nullpx;
position: absolute;
left: 2.81%;
right: 3%;
top: 0%;
bottom: 92.65%;
font-family: Quicksand;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #5C5C5C;
  }

.titulo-assunto{
height: 19px;
width: 1020.5154418945312px;
left: -0.46533203125px;
top: 40px;
border-radius: nullpx;
position: absolute;
width: 1020.52px;
left: -0.47px;
bottom: 75.92%;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
color: #ED7839;
  }

  .titulo-conteudo{
 height: 19px;
width: 1020.5154418945312px;
left: -0.46533203125px;
top: 109px;
border-radius: nullpx;
position: absolute;
width: 1020.52px;
left: -0.47px;
bottom: 75.92%;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
color: #ED7839;



  }
/*para digitar comentario*/
  .textarea{
height: 113px;
width: 1025.5179443359375px;
border-radius: 3px;
position: absolute;
left: -0.05%;
right: 0%;
top: 132px;
background: #FFFFFF;
border: 1px solid #CCCCCC;
box-sizing: border-box;
border-radius: 3px;


  }

  .assunto{
height: 39px;
width: 1025.515380859375px;
left: -0.46533203125px;
top: 60px;
border-radius: 3px;
position: absolute;
left: -0.47px;
right: -0.05px;
bottom: 146px;
background: #FFFFFF;
border: 1px solid #CCCCCC;
box-sizing: border-box;
border-radius: 3px;
  }

  .enviar{
position: absolute;
left: 79.84%;
right: 0.15%;
bottom: 0%;
height: 31px;
width: 205.10357666015625px;
left: 818.40478515625px;
top: 235px;
border: none;
color: white;
background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
border-radius: 0px 0px 4px 0px;
cursor: pointer;
    
  }

  .barra-txt{
height: 31px;
width: 820px;
top: 245px;
position: absolute;
bottom: 0%;
background: #EAF1F2;
border: 1px solid #CCCCCC;
box-sizing: border-box;
border-radius: 0px 0px 3px 4px;
}

.comentarios{
  display: none;
  
}

.mensagem{
  display: hidden;
  height: 350px;
  width: 1056px;
  top: -12px;
  border-radius: 4px;
  position:absolute;
  left:1px;
  right: 1.51%;
  bottom: 10.27%;
  background: #FFFFFF;
  
}
/*aparece após enviar formulario*/
.mensagem h1{
position: absolute;
top:30px;
height: 22px;
width: 537.9583740234375px;
left: 246.9871826171875px;
bottom: 44.32%;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #ED7839;
}

.mensagem p{
height: 20px;
width: 805.2459716796875px;
left: 113.343505859375px;
top:70px;
position: absolute;
bottom: 41.81%;
font-family: Quicksand;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align: center;
color: #595959;
}

.mensagem h2{
position: absolute;
top:150px;
left:33%;
bottom: 38.57%;
font-family: Quicksand;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 137.5%;
text-align: center;
text-decoration-line: underline;
cursor: pointer;
color: #F48F44;
width: 306px;
}

.criar-novo-topico{
height: 32px;
width: 235.1453857421875px;
left: 37%;
top: 250px;
position: absolute;
right: 0%;
bottom: 0%;
background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
border-radius: 4px;
border: none;
color: white;
cursor: pointer;
}

.barra-btn-criar{
height: 0px;
width: 1027px;
left: 16px;
top:265px;
border-radius: 0px;
position: absolute;
border: 1px solid #E7E7E7;
background-color: #ED7839;
}
/*comentario esperando aprovação*/
.aguardando{
display: hide;
height: 148px;
width: 1000px;
left: 15px;
top: 450px;
border-radius: 4px;
position: absolute;
left: 1.42%;
right: 1.51%;
bottom: 10.27%;
background: #FFFFFF;
border: 1px solid #E7E7E7;
box-sizing: border-box;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.comentarios-feitos{
  height: 0px;
  width: 0px;
  top: 44%;
  position: relative;
  left: 1.90%;

}





.comentarios-feitos img{
  display: hide;
  height: 148px;
  width: 1000px;
  left: 15px;
  
  border-radius: 4px;
  position: relative;
  left: 1.42%;
  right: 1.51%;
  bottom: 10.27%;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  }




.final{
position: absolute;
right: 4.01%;
top:155%;
bottom: 0%;
left:0%;
width: 0px;
height: 0px;
}
    
.final img{
position: absolute;
right: 4.01%;
top:100%;
bottom: 0%;
width: 1066px;
left: 1%;
height: 181px;
cursor: pointer;
}
