@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap');
@font-face {
font-family:Segoe UI;
src: url(/fonts/Segoe\ UI.woff);
}


*
{position: relative;
max-width:1680px;
height:max-content;
padding: 0;
margin: 0;
background: #FFFFFF;
}

html{
    overflow-x:hidden;
    width: 100%;
    
    }

/*menu lateral*/

.side-bar-shadow{
 position: absolute;
left: 0%;
right: 0%;
top: 68px;
bottom: -47.44%;
background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
height:2150px;
width: 220px;
border-radius: 0px;

}

/*header-parte de cima*/
header{
position:relative;
width: 100%;
height: 68px;
left: 0px;
top: 0px;
background : #FDF1EB;
}

.txt-header{
margin-left: 220px;
background-color: #FDF1EB;
width:70em;
height: 68px;

}

.idioma{
    font-family:"Quicksand";
    position: absolute;
    width: 97px;
    height: 34px;
    left: 789px;
    top: 17px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    text-align:center;
    cursor: pointer;
}
.txt-header h2{
font-size: 14px;
width: 391px;
height: 0px;
position: absolute;
left: 36px;
top: 5px;
font-family:"Roboto";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
background-color: #FDF1EB;
color: #725C5C;
}
.txt-header h1{
font-size: 21px;
color:#725C5C;
background-color:#855137;
width: 643px;
height: 0px;
top: 23px;
left: 36px;
position: absolute;
line-height: 26px;
font-family: "Roboto";
}

.txt-header h3{
    position: absolute;
width: 105px;
height: 16px;
left: 36px;
top: 48px;

font-family:"Roboto";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
background-color:#FDF1EB ;
color: #725C5C;

}

.bem-vindo{
position: absolute;
width: 72px;
height: 18px;
left: 999px;
top: 17px;
background-color: transparent;
font-family:"Quicksand";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: right;
color: #333333;
}

.email{
 position: absolute;
width: 163px;
height: 15px;
left: 908px;
top: 36px;
font-family: "Quicksand";
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
text-align: right;
color: #333333;
background-color: transparent;
}

.img-user{
position: absolute;
left: 93.28%;
right: 2.53%;
top: 27.94%;
bottom: 27.94%;
height: 30px;
width: 30px;
left: 1069.0000610351562px;
top: 19px;
border-radius: 0px;
background-color: transparent;
}

.circulo{
position: absolute;
left: 81%;
right: 0%;
top: 20%;
bottom: 0%;
height: 12px;
width: 12px;
left: 1069.0000610351562px;
border-radius: 10px;   
background: #F85959;
border-radius: 10px;
}

.rectangle{ 
position: absolute;
right: 0%;
bottom: 0%;
height: 68px;
width: 220px;
left: 0px;
top: 0px;
border-radius: 0px;
background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}

.txt-rtg{
background:none;
position: absolute;
top: 25%;
bottom: 0%;
left: 9.09%;
right: 10%;
color: #FFFFFF;
font-style: normal;
font-weight: bold;
font-size: 30px;
font-family:"Roboto";
line-height: 35px;
display: flex;
text-align: center;
width: 178px;
}
.top-nome-evento img{
position: static;
width: 220px;
height: 258px;
left: 0px;
margin-top: 68px;
}
.top-nome-evento {
    width: 220px;
}

.nav-menu{
background-color: rgba(255, 255, 255, 1);
position:relative;
display: block;
top: 25%;
width: 220px;
height: 50px;
    
    
}
.nav-menu a {
text-decoration: none;
background-color: rgba(255, 255, 255, 1);
position:static;
display:inline-block;
width: 220px;
height: 35px;
color:rgba(114, 92, 92, 1);;
font-size: 15px;
font-family:"Quicksand";
border-bottom: 1px solid rgba(236, 236, 236, 1);
cursor: pointer;


        
}
.nav-menu a label{
    margin-left: 100px;
}
.nav-menu a:hover {
    transition:0s;
    background-color:  rgba(253, 241, 235, 1);
    border-left: 3px solid
    rgba(237, 120, 57, 1);

}

#menu-mobile{
  display: none;
}

.nav-menu-mobile{
  display: none;
}
/* todo conteudo */
.conteudo{
    position:relative;
    width: 1059px;
    height: 1382px;
    left: 263px;
    top: 88px;
}

.titulo{
position: absolute;
height: 54px;
left: 0px;
right: 273px;
top: 0px;
font-family: "Roboto";
font-style: normal;
font-weight: 900PX;
font-size: 20px;
line-height: 25px;
letter-spacing: 0.05em;
color: #ED7839;
width: 786px;
}

.titulo-mobile{
  display: none;
}

.dowload{
 height: 31px;
width: 120px;
left: 842px;
top: 0px;
position:absolute;
left: 79.51%;
right: 9.16%;
bottom: 97.76%;
color: #FFFFFF;
background: #ED7839;
border-radius: 4px;
border:none;
cursor: pointer;
font-family: "Roboto";

}

.dowloadimg{
height: 19px;
width: 19px;
left: 0px;
top: 0px;
background:none;}

.favorito{
height: 31px;
width: 43px;
left: 967px;
top: 0px;
border-radius: 4px;
color: #FFFFFF;
background: #ED7839;
border-radius: 4px;
border:none;
cursor: pointer;
}

.fav{
background: none;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 22px;
text-align: center;
letter-spacing: 0.01em;
text-transform: uppercase;
}

.doi{
height: 31px;
width: 43px;
left: 967px;
position: relative;
top: -2px;
border-radius: 4px;
color: #FDF1EB;
background: #ED7839;
border-radius: 4px;
border:none;
cursor: pointer;
}

.btns{
  background-color: transparent;
}


.video{
    position: absolute;
    width: 783px;
    height: 439px;
    left: 2px;
    top: 73px;
    background: rgba(141, 53, 6, 0.5);
    border-radius: 3px;
}

.como-citar{
font-family:"Roboto";
position: absolute;
width: 239px ;
height: 25px;
right: 0px;
top: 43px;
font-style:normal;
font-weight: 500;
font-size: 14px;
line-height: 25px;
text-align: right;
letter-spacing: 0.05em;
color: #ED7839;

}
/*painel lateral direito*/
.painel{
position: absolute;
width: 242px;
height: 439px;
left: 816px;
top: 73px;
border: 1px solid rgba(236, 236, 236, 1);
}


.titulo-painel{
position: absolute;
width: 242px;
height: 45px;
background: #FDF1EB;
border: 1px solid #ECECEC;
box-sizing: border-box;
border-radius: 3px 3px 0px 0px;
font-family:"roboto";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
display: flex;
align-items: center;
color: #4E4E4E;

}

.txt-painel{
position: absolute;
height: 36px;  
left: 2%;
top: 12%;   
font-family:"Quicksand";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 14,4px;
letter-spacing: 0.02em;   
color: #5C5C5C;   

}

.txt-resumo {
position: relative;
width: 1058px;
height: max-content;
left: 1px;
top: 542px;
border: 1px solid #ECECEC;
box-sizing: content-box;
border-radius: 3px;
box-sizing: content-box;




}

.titulo-resumo{
position: relative;
width: 1058px;
height: 45px;
background: #FDF1EB;
border: 1px solid #ECECEC;
box-sizing: border-box;
border-radius: 3px 3px 0px 0px;
font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
display: flex;
align-items: center;
color: #4E4E4E;

}

.txt-resumo-um{
 position:relative;
width: 1028px;
height: max-content;
left: 0px;
top: 0px;
font-family: "Quicksand";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 23px;
letter-spacing: 0.02em;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
color: #5C5C5C;


}

#btnleiamais{
    position: relative;
    width: 60px;
    height: 24px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #ED7839;
    border:none ;
    cursor: pointer;
   
}


#mais{
    
    position:relative;
    width: 1028px;
    height: 180px;
    left: 0px;
    top: 0px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
    flex: none;
    display: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
    color: #5C5C5C;
    
}

.comentarios{
  background-color: transparent;
}
/* discussoes-comentarios*/
.discussoes{
    position:relative;
    width: 1058px;
    height: 500px;
    top: 580px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
}

.titulo-discussoes{
font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;    
display: flex;
align-items: center; 
color: #4E4E4E;
position:absolute;
width: 1058px;
height: 45px;
background: #FDF1EB;
border: 1px solid #ECECEC;
box-sizing: border-box;
border-radius: 3px 3px 0px 0px;
}

.ideias-e-duvidas{
position: absolute;
left: 30.64%;
right: 29.51%;
top: 10%;
bottom: 30.75%;
font-family: "Roboto";
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
color: #ED7839;
height: 22px;
width: 422px;




}

.icone1{
position: relative;
width: 50.26px;
height: 48.94px;
left: 402.5px;
top: 100px;
}

.icone2{
position: absolute;
width: 50.26px;
height: 48.94px;
left: 504.5px;
top: 100px;
}

.icone3{
position: absolute;
width: 50.26px;
height: 48.94px;
left: 608.5px;
top: 100px;
}

.txt-estimulo{
position: absolute;

height: 39px;
width: 626px;
left: 216.5px;
top: 1325px;
border-radius: nullpx;
top: 30%;
bottom: 22.19%;
font-family: "Quicksand";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align:center ;
color: #595959;
}

.divisoria{
background-color:#E7E7E7 ;
height: 1px;
width: 1034px;
left: 10px;
top: 220px;
border: 1px solid #E7E7E7;
}

#btn-criar{
position: absolute;
left: 43.72%;
right: 43.72%;
top: 42%;
bottom: 19.57%;
height: 32px;
width: 133px;
left: 463px;
border-radius: 4px;
background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
border: none;
color:white;
cursor: pointer;
display:inline;
font-family: "quicksand";
}

.mais{
  background-color:transparent;
  left: -5px;
}
/*formularios*/
#form-topico form input{
    display: block;
    margin-top: 10px;
  }
  
  #form-topico{
    display: inline;
    max-width:1040px;
    top: 40px;
   
  }
  
   #seuformulario{
     display:none;
     Width:800px;
     height:10%;
     top: 90px;
     left: 1%;
  }

  .tem-alguma-duvida{
height: 18px;
width: 965.3748168945312px;
left: 28.832763671875px;
top: 0px;
position: absolute;
left: 2.81%;
right: 3%;
top: 0%;
bottom: 92.65%;
font-family: "Quicksand";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #5C5C5C;
  }

.titulo-assunto{
height: 19px;
width: 1020.5154418945312px;
left: -0.46533203125px;
top: 40px;
position: absolute;
width: 1020.52px;
left: -0.47px;
bottom: 75.92%;
font-family:"Roboto";
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
color: #ED7839;
  }

  .titulo-conteudo{
 height: 19px;
width: 1020.5154418945312px;
left: -0.46533203125px;
top: 109px;
position: absolute;
width: 1020.52px;
left: -0.47px;
bottom: 75.92%;
font-family:"Roboto";
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
color: #ED7839;



  }
/*para digitar comentario*/
  .textarea{
height: 113px;
width: 1025.5179443359375px;
border-radius: 3px;
position: absolute;
left: -0.05%;
right: 0%;
top: 132px;
background: #FFFFFF;
border: 1px solid #CCCCCC;
box-sizing: border-box;
border-radius: 3px;


  }

  .assunto{
height: 39px;
width: 1025.515380859375px;
left: -0.46533203125px;
top: 60px;
border-radius: 3px;
position: absolute;
left: -0.47px;
right: -0.05px;
bottom: 146px;
background: #FFFFFF;
border: 1px solid #CCCCCC;
box-sizing: border-box;
border-radius: 3px;
  }

  .enviar{
position: absolute;
left: 79.84%;
right: 0.15%;
bottom: 0%;
height: 31px;
width: 205.10357666015625px;
left: 818.40478515625px;
top: 235px;
font-family:"Quicksand";
border: none;
color: white;
background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
border-radius: 0px 0px 4px 0px;
cursor: pointer;
    
  }

  .barra-txt{
height: 31px;
width: 820px;
top: 245px;
position: absolute;
bottom: 0%;
background: #EAF1F2;
border: 1px solid #CCCCCC;
box-sizing: border-box;
border-radius: 0px 0px 3px 4px;
}

.comentarios{
  display: none;
  
}

.mensagem{
  display: hidden;
  height: 350px;
  width: 1056px;
  top: -45px;
  border-radius: 4px;
  position:absolute;
  left:1px;
  right: 1.51%;
  bottom: 10.27%;
  background: #FFFFFF;
  
}
/*aparece após enviar formulario*/
.mensagem h1{
position: absolute;
top:30px;
height: 22px;
width: 537.9583740234375px;
left: 246.9871826171875px;
bottom: 44.32%;
font-family:"Roboto";
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #ED7839;
}

.mensagem p{
height: 20px;
width: 805.2459716796875px;
left: 113.343505859375px;
top:70px;
position: absolute;
bottom: 41.81%;
font-family: "Quicksand";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align: center;
color: #595959;
}

.mensagem h2{
position: absolute;
top:150px;
left:33%;
bottom: 38.57%;
font-family: "Quicksand";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 137.5%;
text-align: center;
text-decoration-line: underline;
cursor: pointer;
color: #F48F44;
width: 306px;
}

.criar-novo-topico{
height: 32px;
width: 235.1453857421875px;
left: 37%;
top: 250px;
position: absolute;
right: 0%;
bottom: 0%;
background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
border-radius: 4px;
border: none;
color: white;
cursor: pointer;
font-family: "Quicksand";
}

.barra-btn-criar{
height: 0px;
width: 1027px;
left: 16px;
top:265px;
border-radius: 0px;
position: absolute;
border: 1px solid #E7E7E7;
background-color: #ED7839;
}
/*comentario esperando aprovação*/
.aguardando{
display: hide;
height: 148px;
width: 1000px;
left: 15px;
top: 410px;
background: #DDDDDD;
border-radius: 4px;
position: absolute;
left: 1.42%;
right: 1.51%;
bottom: 10.27%;
filter: blur(0,5px);
background: #FFFFFF;
border: 1px solid #E7E7E7;
box-sizing: border-box;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.aguardando-desfocado{
  display: hide;
  height: 148px;
  width: 1000px;
  top: 0px;
  background: #dddddde3;;
  border-radius: 4px;
  position: absolute;
  left: 0px;
  bottom: 10.27%;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}



.checando {
background-color:transparent;
font-size: 25px;
position: absolute;
left: 47.22%;
right: 49.77%;
top: 23,65%;
bottom: 60.66%;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 23px;

color: #707070;

border-radius: 4px;

}

.aguardando-feedback{
  position: absolute;
  left: 30.08%;
  right: 29.62%;
  top: 44.59%;
  bottom: 41.89%;
  background-color:transparent;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #707070;
 
}

.editar-topico{
  
position: absolute;
left: 42.71%;
right: 45.41%;
top: 63.51%;
bottom: 23.65%;
font-family: "Segoe UI";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-decoration-line: underline;
color: #ED7839;
background-color: transparent;
cursor: pointer;
}

.aguardando h1{
position: absolute;
left: 3.7%;
right: 71.09%;
top:10%;
height: 20px;
width: 267px;
font-family: "Quicksand";
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #ED7839;
}

.nome {
position: absolute;
left: 3.7%;
right: 45.11%;
top:25%;
bottom: 18.03%;
font-family: "Quicksand";
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #5C5C5C;
}

.txt-comentario{
position: absolute;
left: 3.7%;
right: 3.7%;
top: 40%;
bottom: 15.06%;
font-family:"Quicksand";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #4D4D4D;

}

.mais-info{
position: absolute;
width: 4px;
height: 18px;
left: 39px;
top: 75%;
cursor: pointer;
}

.favoritar{
  position: absolute;
  width: 29px;
  height: 25px;
  left: 58px;
  top: 74%;
  border: none;
  background-image:url(/img/favoritar.png);
}

.likes{
position: absolute;
left: 9.44%;
right: 87.82%;
top: 75%;
width: 35px;
height: 19px;
bottom: 13.08%;
font-family:"Segoe UI";
font-style: normal;
font-weight: 350px;
font-size: 14px;
line-height: 19px;
color: #757575;
}

.respostas{
position: absolute;
left: 13.6%;
right: 87.82%;
top: 75%;
width: 65px;
height: 19px;
bottom: 13.08%;
font-family:"Segoe UI";
font-style: normal;
font-weight: 350px;
font-size: 14px;
line-height: 19px;
color: #757575;
  
}

.comentarios-feitos{
  height: 0px;
  width: 0px;
  top: 44%;
  position: relative;
  left: 1.90%;

}





.comentarios-feitos-div{
  display: hide;
  height: 148px;
  width: 1000px;
  border-radius: 4px;
  position:relative;
  bottom: 10.27%;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  top: -50px;
  left: -5px;
  }

.comentarios-feitos-div h1{
position: absolute;
left: 3.7%;
right: 71.09%;
top:10%;
height: 20px;
width: 267px;
font-family: "Quicksand";
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #ED7839;
  }




.final{
position:relative;
right: 4.01%;
top:70%;
bottom: 0%;
left:0%;
width: 0px;
height: 0px;
}
    
.final img{
position: absolute;
right: 4.01%;
top:100%;
bottom: 0%;
width: 200px;
height: 85px;
left: 0px;

}

.saiba-mais{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #71478E;
  border-radius: 5px;
  color: #FFF;
  border: none;
  margin: 0 auto;
  top:100px;
  padding: calc(10px / 2);
  width: 200px;
  cursor: pointer;
}

.final p{

  width: 800px;
  font-family: "Quicksand";
  font-size: 14px;
  background-color: none;
  left: 220px;
}

#btn-menu{
  display: none;
}

/*configurações de responsividade*/

@media (max-width:1000px){

  body{
    width:100em ;
    height:100% ;
  }

  html{
    width:max-content ;
    height:max-content ;
  }

  .rectangle{
    width:1630px;
    height: 300px;
    display: flex;

  }

  .txt-rtg{
    left: 30%;
    text-align: center;
    height: max-content;
    width: max-content;
    font-size: 100px;
    top: 45%;
  }
.side-bar-shadow{
  display: none;
  
}

#menu-mobile{
  z-index: 3;
  background-color: transparent;
  display: block;
  
}

#barra-menu{
  top: 30px;
  width: 130px;
  height: 40px;
  margin: 30px 0 20px 30px;
  cursor: pointer;
}

.barra{
  height: 40px;
  margin-bottom:15px;
  width: 130px;
  background-color: #ffffff;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1{

  transform: translateY(-4px);
}

#bar3{
  transform: translateY(4px);
}

.nav-menu-mobile{
  transition: 0.3s ease;
  display: none;
  z-index: 2;
  width: 100%;
  height: 2500px;
}



.nav-menu-mobile ul{
  width: 110%;
  height: 2680px;
  background-color: orange;
  
}

.nav-menu-mobile li{
  list-style:none;
  text-align: center;
  top: 10%;
  width: 100%;
  height: 400px;
}

.nav-menu-mobile li a{
  color: #25190f;
  background-color:transparent;
  font-size: 100px;
  width: 1000px;
  top: 35%;
  text-decoration: none;
  
}

.nav-menu-mobile li a:hover{
  font-weight: bold;
}
.nav-menu-mobile li:hover{
  font-weight: bold;
  border-left: 50px solid
    rgba(237, 120, 57, 1);

  
}
.menu-bg, #menu-mobile{
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg{
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  transition: 0.3s ease;
}

.change{
  display: block;
}

.change .barra{
  background-color: #4E4E4E;
}

.change #barra1{
  transform: translateY(4px) rotateZ(-45deg);
}

.change #barra2{
  opacity: 0;
}

.change #barra3{
  transform:translateY(-6px) rotateZ(45deg);
}

.change-bg{
  width: 520px;
  height:460px;
  transform: translate(-60%, -30%);
}

.conteudo{
  width:100em;
  left: 15px;
  height: 2980px;
  top:300px;

}

.como-citar{
  left: -150px;
  top: 890px;
  font-size: 40px;
  width:900px;
}


.painel{
  display:absolute;
  width: 800px;
  left: 3em;
  top: 950px; 
  height:800px; 
 
}
 .txt-painel{
   font-size: 16px;
   left: 0;
   top:80px;
   height: 70px;
   width: 20px;
 }

 .titulo-painel{
   width: 800px;
   height: 80px;
   font-size: 60px;
   
 }

.titulo{
  display: none;
}

.titulo-mobile{
  width: 1320px;
  font-size: 60px;
  left: 1em;
  display: block;
  font-family: "Roboto";
font-style: normal;
line-height: 25px;
letter-spacing: 0.05em;
color: #ED7839;

}
.btns{
  width: 260px;
  height: 300px;
  top: 930px;
  left: 400px;
}

.dowload{
  width:500px ;
  height: 100px;
  left: 500px;
  font-size: 50px;
  top: 100px;
}

.dowloadimg{
  height: 19px;
  width: 19px;
  left: -50px;
  top: 0px;
  background:none;}

  .favorito{
    width: 500px;
    height: 100px;
    top: 300px;
    left: 500px;
  }

.fav{
  font-size: 50px;
}

.doi{
  top: 400px;
  width: 500px;
  height: 100px;
  left: 500px;
  font-size: 50px;
}


.video{
  width:85em;
  height: 720px;
  top: 100px;
  left: 50px;
 position:absolute;
}

.titulo-resumo{
  width: 1360px;
  font-size: 60px;
  height: 80px;
}
.txt-resumo{
  top:1500px;
  left:3em;
  width: 1360px;
  height: max-content;
  
}
 .txt-resumo-um {
   font-size: 25px;
   width: 1360px;
   height:max-content ;
   
 }

 #mais{
   font-size: 25px;
 }

 #btnleiamais{
   font-size:15px;
   width: 70px;
   zoom:160%;
   
   
   
 }

 .titulo-discussoes{
   width: 1360px;
   height: 70px;
   font-size: 60px;

 }

.discussoes{
  top: 1550px;
  left:3em;
  width: 1360px;
  height: 800px;
}

.ideias-e-duvidas{
  font-size: 40px;
  width: 960px;
  left: 15%;
  top:90px;
}

.icones{
  top:50px;
  width: 0px;
  left: 10%;
}

.icone1{
  width: 100px;
  height: 100px;
  left:200px;
}
.icone2{
  width: 100px;
  height: 100px;
  left:480px;
}
.icone3{
  width: 100px;
  height: 100px;
  left:700px;
}

.txt-estimulo{
  font-size: 30px;
  width: 1350px;
  height: 50px;
  left: 2px;
  top:250px ;
}

.divisoria{
  top: 300px;
  width: 1330px;
}

#btn-criar{
  width: 500px;
  height: 90px;
  top:360px;
  font-size: 30px;
}

.tem-alguma-duvida{
  font-size: 30px;
  left: 200px;
  top: 20px;
}

.titulo-assunto{
  font-size: 40px;
  left: 10px;
}
.assunto {
  width: 1330px;
  height: 70px;
  left: 10px;
}

.titulo-conteudo{
  font-size: 40px;
  left: 10px;
  top: 170px;
}

.textarea{
  left: 10px;
  width:1330px ;
  top: 200px;
}

.barra-txt{
  width: 1000px;
  height: 50px;
  left: 10px;
  top: 310px;
}

.enviar{
  left: 1010px;
  top: 300px;
  height:50px ;
  width: 330px;
  font-size: 30px;
}

#seuformulario{
  top: 790px;
  left: 50px;
  width: 1350px;
  height:600px ;
}

.mensagem{
  top: 200px;
  left: 3em;
  width: 1360px;
  height:800px ;
}

.mensagem h1{
  font-size: 50px;
  width: 1360px;
  left: 10px;
}
.mensagem p{
  font-size: 25px;
  width: 1360px;
  top:80px;
  left: 2px;
}

.mensagem h2{
  font-size: 25px;
  width: 600px;
  left: 400px;
}

.barra-btn-criar{
  width: 1320px;
  top:300px;
}

.criar-novo-topico{
  width: 500px;
  height: 90px;
  top:250px;
  font-size: 30px;
  left: 450px;
}
.aguardando{
  top: 950px;
  left: 3em;
  width: 1360px;
  height: 250px;

}

.aguardando-desfocado{
  top: 0px;
  width: 1360px;
  height: 250px;
}

.comentarios{
  background-color: transparent;
}
.comentarios-feitos-div{
  top: -120px;
  left: 1em;
  width: 1360px;
  height: 250px;
}

.comentarios-feitos-div h1{
  font-size: 40px;
  width: 700px;
  height: 50px;
}

.comentarios-feitos-div .nome{
  font-size: 30px;
  height: 10px;
  margin-top: 5px;
  padding: 0;
  background-color: none;
}

.txt-comentario{
  font-size: 30px;
  width: 1300px;
  height: 100px;
  letter-spacing: 0,5px;
  
}

.mais-info{
  width: 10px;
  height: 40px;
}

.favoritar{
  top: 190px;
  left: 80px;
}

.likes{
  font-size: 30px;
  width: 100px;
}

.respostas{
  font-size: 30px;
  width: 140px;
  left: 250px;
}

.checando{
font-size: 50px;
}

.aguardando-feedback{
  font-size: 30px;
  top: 130px;
}

.editar-topico{
  font-size: 25px;
}

.final img{
  width: 300px;
  height: 200px;
  top: -150px;
}
.final p{
  font-size:40px ;
  width: 1100px;
  top: -200px;
  left: 320px;
}

.saiba-mais{
  width: 300px;
  height: 60px;
  top: 50px;
  font-size: 40px;
}


}



